#joinustext {
    background-color:rgba(217, 217, 217, 0.4);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2rem;
    border: 3px solid #ddd;
    box-shadow: 1px 1px 10px 2px rgba(175, 175, 175, 50%);
    
    img {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

.selector {
    width: 50%;
    background-color:rgba(217, 217, 217, 0.4);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 2rem;
    border: 3px solid #ddd;
    box-shadow: 1px 1px 10px 2px rgba(175, 175, 175, 50%);

    #icons {
        button {
            padding: 0.25rem;
            color: theme('colors.accent');
            background-color: white;
            border: 2px solid theme('colors.accent');
            &:hover {
                background-color: theme('colors.accent');
                color: white;
            }    
        }
        display: flex;
        justify-content: center;
        gap: 10%;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    div {
        h4 {
            text-align: center;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.hidden {
    display: none;
} .shown {
    display: block;
    animation-name: fadeIn;
    animation-duration: 1s;
}

@media screen and (max-width: 900px) {
    #joinustext {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
    .selector {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .selector {
        width: 85%;
    }
}