#faq {
    .gradient {
        background: linear-gradient(0deg, rgba(235,153,60,1) 0%, rgba(184,31,31,1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;      
    }
}