#faq {
    margin: 0 0 3rem 0;
    .faqwrapper {
        display: flex;
        justify-content: center;
        gap: 10%;
        
        .column {
            width: 35%;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(3px);
            padding: 0.5rem;

            // .row {

            // }
        }
    }
}