#sponsors {
    backdrop-filter: blur(8px);
    background-color: rgba(220, 220, 220, 0.3);
    box-shadow: 10px 0px 10px 10px  rgba(175, 175, 175, 50%);
}
.sponsorlogos {

    div {
        display: flex;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        gap: 1rem;    
        margin-bottom: 1rem;
    }
    
    span {
        object-fit: contain;
        aspect-ratio: 6 / 3 !important;
        background-color: white;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
        transition: transform .2s ease, filter .3s ease !important;
        border: 2px solid #ddd;
        align-items: center;
        display: inline-flex !important;

        &:hover {
            transform: scale(0.95);
        }
    }

    .entrepreneur {
        display: block;
        span {
            margin-left: auto;
            margin-right: auto;
            width: 40%;
            margin-bottom: 1rem;
            min-width: 300px;
        }
    }
    .pioneer span {
        width: 30%;
        min-width: 200px
    }
    .innovator span {
        width: 15%;
        min-width: 133px;
        padding: 0.75rem;
    }
    .explorer span {
        width: 12.5%;
        min-width: 100px;
        padding: 0.5rem;
    }

    .flowboat {
        padding: 0 !important;
    }
}