@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

@media screen and (max-width: 600px) {
    #hero {
        justify-content: center;
        text-align: center;
        h1, h3 {
            margin: 0;
        }
        h1 {
            font-size: 3rem;
        }
    }
}