#team {
    padding-top: 5rem;
}
.team-people {
    margin-top: 2.5rem;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    gap: 5%;
    row-gap: 5%;
    .person {
        .picture {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
        .name {
            font-family: Satoshi, 'sans-serif';
            font-size: 1.2rem;
            margin-bottom: 0;
        }
        text-align: center;
        margin-bottom: 5%;
    }
}