.nav {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    margin-right: 2rem;
  
    /* Make sticky */
    position: sticky;
    // background-color: 
    top: 0;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    backdrop-filter: blur(4px);
    background-color: darken(rgba(18,20,60,0.4), 2%);
    transition: background-color 0.5s;

    &:hover {
        background-color: darken(rgba(18,20,60,0.8), 4%);
    }
  
    div {
      margin: 0;
      padding-right: 2rem;
      list-style: none;
      display: flex;
      gap: 3rem;
    }
  
    a {
      color: inherit;
      text-decoration: none;
      // display: none;
    }

    .links {
      display: flex;
    }

    .nav-logo {
      // position: absolute;
      width: max(5%, 50px);
    }

    .burger {
      display: none;
      width: 100%;

      .burger-button {
        position: absolute;
        right: 25px;
        top: 25px;
      }

      .hidden {
        display: none;
      }
      .shown {
        display: grid;
        padding: 25px;
        margin-left: 50px;
        line-height: 15px;
      }
    }
}

@media screen and (max-width: 1000px) {
  .nav {
    .links {
      display: none;
    }
    .burger {
      display: block;
    }
  }
}
  
  