#footer {
    padding: 5%;
    background-color: #1a1f2b;
    background-image: radial-gradient(#777 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px ;
    background-attachment: scroll;  
    color: #ddd;
    display: flex;
    justify-content: space-around;
    font-family: 'Inter', sans-serif;

    .column {
        border: 2px solid #313a51;
        backdrop-filter: blur(2px);
        background-color: rgba(20,30,48,.5);
        border-radius: 1rem;
        padding: 2.5%;
        width: 30%;
        display: block;

        button {
            display: block;
            background-color: transparent;
            padding: 0;
            background-size: 0px 0px;
            color: #ddd;
            width: auto;
            transition: 0.3s color ease;

            &:hover {
                color: theme('colors.accent');
            }
            &:active {
                transform: scale(1);
            }
        }
        a {
            transition: 0.3s ease;
            display: block;
            &:hover {
                color: theme('colors.accent')
            }
        }

        h2 {
            text-transform: uppercase;
            font-size: 0.8rem;
            margin-bottom: 1rem;
            color: #aaa;
        }
    }

    .logowrapper {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            height: 3rem;
        }
    }
}

@media screen and (max-width: 1000px) {
    #footer {
        display: block;
        
        .column {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
        }
    }
}
@media screen and (max-width: 600px) {
    #footer {
        .column {
            width: 80%;
        }
    }
}