@use '../../styles.scss' as *;

.socials {
    a, p {
        font-size: max(1.4rem, 2vw);
        transition: 0.3s;

        &:hover {
            color: lighten($accent, 10%);
        }
    }

   
    p {
        &:hover {
            cursor: not-allowed;
        }
        opacity: 0.5;
    }
}