.hide {
    opacity: 0;
    transition: 2s;
    transform: translate(0, 10rem);
    
    img {
      transition: 2s;
      transform: scale(50%);
    }
    .sectionwrapper { img {
      transition: 2s;
      transform: scale(50%);
    } }
  }
  
.show {
  opacity: 1;
  transform: translate(0, 0);

  img {
    transition: 2s;
    transform: scale(100%);
  }

  .sectionwrapper { img {
      transform: scale(100%);
} }

&:not(:first-child) {
    margin-top: 4rem;
}
}
  