.hide {
    opacity: 0;
    transition: 1.5s ease;
    
    img {
      transition: 2s ease;
      transform: scale(0.9);
    }
    .sectionwrapper { img {
      transition: 2s ease;
      transform: scale(0.9);
    } }
  }
  
.show {
  opacity: 1;

  img {
    transition: 2s ease;
    transform: scale(1);
  }

  .sectionwrapper { img {
      transition: 2s ease;
      transform: scale(1);
  } }
}
  