@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: url('./assets/background.svg') no-repeat, linear-gradient(90deg, theme('colors.background.lightblue')  0%, theme('colors.background.darkblue') 27%, theme('colors.background.neon') 100%);
  background-size: 100%;
  background-size: cover;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

* {
  color: #FFFFFF;
}

h1 {
  font-size: max(4rem, 6.5vw);
}

h2 {
  font-size: max(2.5rem, 4.5vw);
}

h3 {
  font-size: max(1.5rem, 3vw);
}

.section {
  height: 85vh;
  padding: 5%;
}

button {
  color: #FFFFFF;
  background: rgb(180,67,89);
  background: linear-gradient(90deg, rgba(180,67,89) 35%, rgba(222,173,70) 100%);
  border-radius: 10px;
  font-size: 20px;
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
  text-decoration: none;
  border-width: 0;
}

.gradient {
  background-image: linear-gradient(90deg, rgba(235,153,60,1), rgba(184,31,31,1), rgba(235,153,60,1));
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;  
  animation: background-pan 4s linear infinite;    
}

.gradient-vertical {
  background: linear-gradient(0deg, rgba(235,153,60,1) 0%, rgba(184,31,31,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;      
}