@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&family=Work+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

$accent: #548CA8;

$debug: false;
@if $debug {
  * { 
    border: 1px solid red;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-size: 100%;
  background-color: theme('colors.background');
  background-size: cover;
  margin: 0;
  font-family: 'Satoshi', sans-serif;
}

button {
  background-color: lighten($accent, 15%);
  padding: 0.5vh 1vw;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.1s;

  &:hover {
    background-color: lighten($accent, 22%);
  }

  &:active {
    transform: scale(0.95);
  }
}

p, a, button {
  font-size: max(1.4vw, 1.3rem);
  font-family: 'Inter', sans-serif;
}

a {
  transition: all 0.3s;
  font-family: 'Satoshi', sans-serif;
  cursor: pointer;
  &:hover {
    color: $accent;
  }
}

p {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: max(2.75rem, 6.5vw);
}

h2 {
  font-size: max(2.5rem, 4.5vw);
}

h3 {
  font-size: max(2rem, 3vw);
}

h4 {
  font-size: max(1.4rem, 2vw);
}

.section {
  height: 85vh;
  padding: 5%;
}

// button {
//   color: #FFFFFF;
//   background: rgb(180,67,89);
//   background: linear-gradient(90deg, rgba(180,67,89) 35%, rgba(222,173,70) 100%);
//   border-radius: 10px;
//   font-family: 'Inter', sans-serif;
//   font-size: 2rem;
//   padding: 1rem 2rem 1rem 2rem;
//   margin: 1rem;
//   text-decoration: none;
//   border-width: 0;
// }

@mixin gradient {
  background-clip: text;
  background-size: 200%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;  
  animation: background-pan 4s linear infinite;
}
.gradient {
  @include gradient;
  background-image: linear-gradient(90deg, rgba(235,153,60,1), rgba(184,31,31,1), rgba(235,153,60,1));
}

.blue {
  @include gradient;
  // background-image: linear-gradient(90deg, rgba(25,197,229,1) 3%, rgba(191,39,228,1) 47%, rgba(25,197,229,1) 100%);
  // background-image: linear-gradient(90deg, $accent 3%, rgba(191,39,228,1) 47%, $accent 100%);
}

.gradient-vertical {
  background: linear-gradient(0deg, rgba(235,153,60,1) 0%, rgba(184,31,31,1) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;      
}