@import url('https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #180438;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

p {
  color: #FFFFFF;
}

.nav {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  margin-right: 2rem;

  /* Make sticky */
  position: fixed;
  top: 0;
  width: 100%;
  font-size: max(2vw, 20px);
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;

  div {
    margin: 0;
    padding-right: 2rem;
    list-style: none;
    display: flex;
    gap: 3rem;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:active {
    background-color: #505050;
  }
  
  a:hover {
    background-color: #aaaaaa;
  }  
}


#hero {
  padding-top: 5rem;
  padding-left: 5rem;
}

button {
  color: #FFFFFF;
  background: rgb(180,67,89);
  background: linear-gradient(90deg, rgba(180,67,89) 35%, rgba(222,173,70) 100%);
  border-radius: 10px;
  font-size: 20px;
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
  text-decoration: none;
  border-width: 0;

  &:hover {
    background: linear-gradient(90deg, rgba(222,173,70), 35%, rgba(180,67,89) 100%);
  }
}