.accordion__section {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.accordion {
  color: #444;
  // border-radius: 15px 15px 0px 0px;
  cursor: pointer;
  padding: 1rem;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: darken(#3C3579, 5%);
  }
}

.active {
  background-color: darken(#3C3579, 5%);
}

.accordion__content {
  // border-radius: 
  background-color: darken(#3C3579, 15%);
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.column .accordion-section {
  &:first-child .accordion {
    border-radius: 15px 15px 0px 0px;
  }
}